* text=auto !eol
genotyping/Genotyping.iml -text
genotyping/build.xml -text
genotyping/module.properties -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-0.00-0.01.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-0.00-0.01.sql -text
genotyping/resources/schemas/genotyping.xml -text
genotyping/src/org/labkey/genotyping/GenotypingAnalysis.java -text
genotyping/src/org/labkey/genotyping/GenotypingContainerListener.java -text
genotyping/src/org/labkey/genotyping/GenotypingController.java -text
genotyping/src/org/labkey/genotyping/GenotypingFolderSettings.java -text
genotyping/src/org/labkey/genotyping/GenotypingManager.java -text
genotyping/src/org/labkey/genotyping/GenotypingModule.java -text
genotyping/src/org/labkey/genotyping/GenotypingQuerySchema.java -text
genotyping/src/org/labkey/genotyping/GenotypingRun.java -text
genotyping/src/org/labkey/genotyping/GenotypingSchema.java -text
genotyping/src/org/labkey/genotyping/ImportAnalysisJob.java -text
genotyping/src/org/labkey/genotyping/ImportAnalysisPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/ImportReadsJob.java -text
genotyping/src/org/labkey/genotyping/ImportReadsPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/QueryHelper.java -text
genotyping/src/org/labkey/genotyping/SubmitAnalysisJob.java -text
genotyping/src/org/labkey/genotyping/SubmitAnalysisPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyFolderSettings.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyManager.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyServer.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyUserSettings.java -text
genotyping/src/org/labkey/genotyping/galaxy/WorkflowCompletionMonitor.java -text
genotyping/src/org/labkey/genotyping/sequences/Allele.java -text
genotyping/src/org/labkey/genotyping/sequences/AlleleFastaLoader.java -text
genotyping/src/org/labkey/genotyping/sequences/SequenceDictionary.java -text
genotyping/src/org/labkey/genotyping/sequences/SequenceManager.java -text
genotyping/src/org/labkey/genotyping/view/configure.jsp -text
genotyping/src/org/labkey/genotyping/view/loadSequences.jsp -text
genotyping/src/org/labkey/genotyping/view/mhcQuery.jsp -text
genotyping/src/org/labkey/genotyping/view/mySettings.jsp -text
genotyping/src/org/labkey/genotyping/view/submit.jsp -text
