* text=auto !eol
genotyping/Genotyping.iml -text
genotyping/build.xml -text
genotyping/module.properties -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-0.00-10.30.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-10.30-11.10.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-11.10-11.20.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-11.20-11.30.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-12.10-12.20.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-12.11-12.12.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-12.12-12.13.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-12.13-12.14.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-12.20-12.21.sql -text
genotyping/resources/schemas/dbscripts/postgresql/genotyping-12.21-12.22.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.00-0.01.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.00-0.03.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.00-0.06.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.00-10.29.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.01-0.02.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.02-0.03.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.03-0.04.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.04-0.05.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-0.05-0.06.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-10.30-10.31.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-10.31-10.32.sql -text
genotyping/resources/schemas/dbscripts/postgresql/obsolete/genotyping-12.10-12.11.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-0.00-10.30.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-10.30-11.10.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-11.10-11.20.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-11.20-11.30.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-12.10-12.20.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-12.11-12.12.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-12.12-12.13.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-12.13-12.14.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-12.20-12.21.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/genotyping-12.21-12.22.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.00-0.01.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.00-0.03.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.00-0.06.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.00-10.29.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.01-0.02.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.02-0.03.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.03-0.04.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.04-0.05.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-0.05-0.06.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-10.30-10.31.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-10.31-10.32.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-10.32-10.33.sql -text
genotyping/resources/schemas/dbscripts/sqlserver/obsolete/genotyping-12.10-12.11.sql -text
genotyping/resources/schemas/genotyping.xml -text
genotyping/resources/views/illuminaSampleSheetExport.html -text
genotyping/src/org/labkey/genotyping/GenotypingAnalysesView.java -text
genotyping/src/org/labkey/genotyping/GenotypingAnalysis.java -text
genotyping/src/org/labkey/genotyping/GenotypingContainerListener.java -text
genotyping/src/org/labkey/genotyping/GenotypingController.java -text
genotyping/src/org/labkey/genotyping/GenotypingFolderSettings.java -text
genotyping/src/org/labkey/genotyping/GenotypingFolderType.java -text
genotyping/src/org/labkey/genotyping/GenotypingManager.java -text
genotyping/src/org/labkey/genotyping/GenotypingModule.java -text
genotyping/src/org/labkey/genotyping/GenotypingQueryHelper.java -text
genotyping/src/org/labkey/genotyping/GenotypingQuerySchema.java -text
genotyping/src/org/labkey/genotyping/GenotypingRun.java -text
genotyping/src/org/labkey/genotyping/GenotypingRunsView.java -text
genotyping/src/org/labkey/genotyping/GenotypingSchema.java -text
genotyping/src/org/labkey/genotyping/GenotypingUpgradeCode.java -text
genotyping/src/org/labkey/genotyping/GenotypingWebPart.java -text
genotyping/src/org/labkey/genotyping/HaplotypeAssayProvider.java -text
genotyping/src/org/labkey/genotyping/HaplotypeDataCollector.java -text
genotyping/src/org/labkey/genotyping/HaplotypeDataHandler.java -text
genotyping/src/org/labkey/genotyping/HaplotypeProtocolSchema.java -text
genotyping/src/org/labkey/genotyping/Import454ReadsJob.java -text
genotyping/src/org/labkey/genotyping/Import454ReadsPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/ImportAnalysisJob.java -text
genotyping/src/org/labkey/genotyping/ImportAnalysisPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/ImportIlluminaReadsJob.java -text
genotyping/src/org/labkey/genotyping/ImportIlluminaReadsPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/MetaDataRun.java -text
genotyping/src/org/labkey/genotyping/NonValidatingGenotypingFolderSettings.java -text
genotyping/src/org/labkey/genotyping/SampleManager.java -text
genotyping/src/org/labkey/genotyping/Status.java -text
genotyping/src/org/labkey/genotyping/SubmitAnalysisJob.java -text
genotyping/src/org/labkey/genotyping/SubmitAnalysisPipelineProvider.java -text
genotyping/src/org/labkey/genotyping/ValidatingGenotypingFolderSettings.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyFolderSettings.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyManager.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyServer.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyUserSettings.java -text
genotyping/src/org/labkey/genotyping/galaxy/GalaxyUtils.java -text
genotyping/src/org/labkey/genotyping/galaxy/WorkflowCompletionMonitor.java -text
genotyping/src/org/labkey/genotyping/sequences/Allele.java -text
genotyping/src/org/labkey/genotyping/sequences/AlleleFastaLoader.java -text
genotyping/src/org/labkey/genotyping/sequences/FastqGenerator.java -text
genotyping/src/org/labkey/genotyping/sequences/FastqWriter.java -text
genotyping/src/org/labkey/genotyping/sequences/SequenceDictionary.java -text
genotyping/src/org/labkey/genotyping/sequences/SequenceManager.java -text
genotyping/src/org/labkey/genotyping/view/analyze.jsp -text
genotyping/src/org/labkey/genotyping/view/configure.jsp -text
genotyping/src/org/labkey/genotyping/view/fastqExportOptions.jsp -text
genotyping/src/org/labkey/genotyping/view/haplotypeCustomerReport.jsp -text
genotyping/src/org/labkey/genotyping/view/importHaplotypeAssignments.jsp -text
genotyping/src/org/labkey/genotyping/view/importReads.jsp -text
genotyping/src/org/labkey/genotyping/view/loadSequences.jsp -text
genotyping/src/org/labkey/genotyping/view/matchCombiner.jsp -text
genotyping/src/org/labkey/genotyping/view/mhcQuery.jsp -text
genotyping/src/org/labkey/genotyping/view/mySettings.jsp -text
genotyping/src/org/labkey/genotyping/view/overview.jsp -text
genotyping/tools/Illumina.pl -text
genotyping/webapp/genotyping/IlluminaExportPanel.js -text
genotyping/webapp/genotyping/RunExportWindow.js -text
