
<!--
<script type="text/javascript">
    var _wb_titleId = Ext.id();
    LABKEY.NavTrail.setTrail("<span>Experiment&nbsp;</span><span class='labkey-edit-in-place' id='" + _wb_titleId + "'><%=h(container.getTitle())%></span>",
            undefined, <%=PageFlowUtil.jsString(container.getTitle())%>);
</script>
-->

<!--PageFlowUtil.textLink("History", new ActionURL(OConnorExperimentsController.HistoryAction.class, container))-->
<div id="createdDiv"></div>

<div id="errorBox">
    <p id="errorText"></p>
</div>

<div id="experimentType"></div>
<div id="parentExperiments"></div>
<div id="grant"></div>
<div id="experimentDescription"></div>

<script type="text/javascript">
LABKEY.requiresExt4ClientAPI(true, function() {
    var createInput = function(renderTo, type, name, label, currentValue, validator, saveCallback) {
        var width = 350;
        var height = type == 'text' ? null : 75;
        var labelWidth = 130;
        var displayFieldValue = currentValue == null || currentValue == '' ? 'Click to edit' : currentValue;
        var displayFieldCls = currentValue == null || currentValue == '' ? 'x4-form-empty-field' : 'x-form-display-field';
        var displayField = Ext4.create('Ext.form.field.Display', {
            fieldLabel: label,
            renderTo: renderTo,
            value: displayFieldValue,
            width: width,
            height: height,
            labelWidth: labelWidth,
            fieldCls: displayFieldCls
        });

        var config = {
            renderTo: renderTo,
            id: renderTo + '-input',
            fieldLabel: label,
            hidden: true,
            value: currentValue,
            width: width,
            height: height,
            labelWidth: labelWidth,
            listeners: {
                scope: this,
                blur: function(inputCmp) {
                    inputCmp.setVisible(false);
                    displayField.setVisible(true);

                    if ((!inputCmp.oldValue && inputCmp.getValue() != '') || (inputCmp.oldValue && inputCmp.oldValue != inputCmp.getValue())) {
                        var oldCls = '.' + displayField.fieldCls;

                        if (inputCmp.getValue() != '') {
                            displayField.setValue(inputCmp.getValue());
                            displayField.fieldCls = 'x4-form-display-field';
                        } else {
                            displayField.setValue('Click to edit');
                            displayField.fieldCls = 'x4-form-empty-field';
                        }
                        var dFDom = displayField.getEl().dom;
                        dFDom.querySelector(oldCls).setAttribute('class', displayField.fieldCls);

                        var failureCb =function() {
                            // If we encounter a failure we need to revert the changes and display an error.
                            var oldCls = '.' + displayField.fieldCls;
                            var displayValue = inputCmp.oldValue == '' ? 'Click to edit' : inputCmp.oldValue;
                            var displayCls = displayValue == 'Click to edit' ? 'x4-form-empty-field' : 'x4-form-display-field';

                            displayField.setValue(displayValue);
                            displayField.fieldCls = displayCls;
                            displayField.getEl().dom.querySelector(oldCls).setAttribute('class', displayField.fieldCls);

                            inputCmp.setValue(inputCmp.oldValue);
                            var errorBox = document.getElementById('errorText');
                            errorBox.innerHTML = '<span class="labkey-error">Unable to update ' + label + ' please try a different value.</span>';
                        };

                        saveCallback(name, inputCmp.getValue(), failureCb);
                    }
                }
            }
        };

        var input = null;

        if (type == 'text') {
            input = Ext4.create('Ext.form.field.Text', config);
        } else {
            input = Ext4.create('Ext.form.field.TextArea', config);
        }

        displayField.getEl().on('click', function() {
            displayField.setVisible(false);
            input.oldValue = input.getValue();
            input.setVisible(true);
            input.focus();
        }, this);
    };

    LABKEY.ocexp.internal.Experiment.getExperiment({
        requiredVersion: 8.3,
        success: function (data) {
            if (data.rows.length > 0) {
                var experimentData = data.rows[0];
                var createdString = 'Created ' + experimentData.Created + ' by ' + experimentData['CreatedBy/DisplayName'];
                var description = experimentData.Description;
                var parentExperiments = experimentData['ParentExperiments/ExperimentNumber'];
                var experimentType = experimentData.ExperimentType;
                var changeCallback = function(fieldName, value, failureCallback) {
                    var experiment = Ext4.apply({}, experimentData);
                    experiment[fieldName] = value;
                    LABKEY.ocexp.internal.Experiment.saveExperiment({
                        experiment: experiment,
                        success: function() {
                            var errorBox = document.getElementById('errorText');
                            errorBox.innerHTML = '';
                        },
                        failure: failureCallback
                    });
                };

                var grantStore = Ext4.create('LABKEY.ext4.Store', {
                    columns : ['Key', 'title'],
                    schemaName : 'oconnor',
                    queryName : 'Grants',
                    containerPath : LABKEY.container.parentPath,
                    autoLoad : true,
                    listeners: {
                        scope: this,
                        load: function() {
                            grantCombo.suspendEvents(false);
                            grantCombo.setValue(experimentData.GrantId);
                            grantCombo.resumeEvents();
                        }
                    }
                });

                var grantCombo = Ext4.create('Ext.form.field.ComboBox', {
                    store: grantStore,
                    renderTo: 'grant',
                    displayField: 'title',
                    valueField: 'Key',
                    width: 350,
                    labelWidth: 130,
                    fieldLabel: 'Grant',
                    listeners: {
                        scope: this,
                        change: function(combo, newVal) {
                            changeCallback('GrantId', newVal);
                        }
                    }
                });

                createInput('experimentType', 'text', 'ExperimentType', 'Experiment Type', experimentType, null, changeCallback);
                createInput('parentExperiments', 'text','ParentExperiments/ExperimentNumber', 'Parent Experiments', parentExperiments, null, changeCallback);
                createInput('experimentDescription', 'textarea', 'Description', 'Description', description, null, changeCallback);
                document.getElementById('createdDiv').textContent = createdString;
            }
        }
    });
});
</script>

