
<div>
    <span id="createdSpan"></span>
    [<a href="<%=contextPath%>/ocexp<%=containerPath%>/history.view">history</a>]
</div>

<div id="errorBox">
    <p id="errorText" class="labkey-error"></p>
</div>

<div id="dashPanel"></div>
<script type="text/javascript">
    // Set the navtrail and page title
    LABKEY.NavTrail.setTrail("<span>Experiment " + LABKEY.container.title + "</span>", undefined, "Experiment " + LABKEY.container.title);

    var initPanel = function(data){
        if (data.rows.length > 0) {
            var experimentData = data.rows[0];
            var createdString = 'Created ' + experimentData.Created + ' by ' + experimentData['CreatedBy/DisplayName'];
            var description = experimentData.Description;
            var parentExperiments = experimentData['ParentExperiments/ExperimentNumber'];
            var experimentType = experimentData.ExperimentType;
            var changeCallback = function(name, newValue, oldValue, failureCb, scope){
                //console.log(name, newValue, oldValue);
                experimentData[name] = newValue;
                LABKEY.ocexp.internal.Experiment.saveExperiment({
                    experiment: experimentData,
                    success: function(){
                        document.getElementById('errorText').innerHTML = "";
                    },
                    invalid: function(msg) {
                        document.getElementById('errorText').innerHTML = Ext4.util.Format.htmlEncode(msg);
                    },
                    failure: function(){
                        if(failureCb) {
                            if(!scope)
                                scope = this;

                            failureCb.call(scope, '<span class="labkey-error">' + newValue + '</span>');
                        } else {
                            document.getElementById('errorText').innerHTML = "An unknown error occured and save failed. Please try again.";
                        }
                    }
                });
            };

            document.getElementById('createdSpan').textContent = createdString;

            var experimentType = Ext4.create('LABKEY.ocexp.internal.InPlaceText', {
                flex: 1,
                labelWidth: 110,
                fieldLabel: 'Experiment Type',
                value: experimentType,
                listeners: {
                    scope: this,
                    change: function(cmp, newValue, oldValue){
                        changeCallback('ExperimentType', newValue, oldValue);
                    }
                }
            });
            var parentExperiments = Ext4.create('LABKEY.ocexp.internal.InPlaceText', {
                flex: 1,
                labelWidth: 130,
                margin: '0 10 0 5',
                fieldLabel: 'Parent Experiments',
                value: parentExperiments,
                listeners: {
                    scope: this,
                    change: function(cmp, newValue, oldValue){
                        changeCallback('ParentExperiments/ExperimentNumber', newValue, oldValue);
//                        changeCallback('ParentExperiments/ExperimentNumber', newValue, oldValue, function(msg){
//                            parentExperiments.setDisplayValue(msg);
//                        }, this);
                    }
                }
            });
            var grantStore = Ext4.create('LABKEY.ext4.data.Store', {
                columns : ['Key', 'title'],
                schemaName : 'oconnor',
                queryName : 'Grants',
                containerPath : LABKEY.container.parentPath,
                autoLoad : true,
                supressErrorAlert: true,
                listeners: {
                    scope: this,
                    load: function() {
                        grantCombo.suspendEvents(false);
                        grantCombo.setValue(experimentData.GrantId);
                        grantCombo.resumeEvents();
                    }
                }
            });
            var grantCombo = Ext4.create('Ext.form.field.ComboBox', {
                store: grantStore,
                displayField: 'title',
                valueField: 'key',
                width: 350,
                labelWidth: 45,
                fieldLabel: 'Grant',
                listeners: {
                    scope: this,
                    change: function(combo, newValue, oldValue) {
                        changeCallback('GrantId', newValue, oldValue);
                    }
                }
            });
            var horizontalPanel = Ext4.create('Ext.container.Container', {
                border: false,
                frame: false,
                layout: 'hbox',
                items: [experimentType, parentExperiments, grantCombo]
            });
            var description = Ext4.create('LABKEY.ocexp.internal.InPlaceTextArea', {
                fieldLabel: 'Description',
                height: 75,
                labelWidth: 110,
                flex: 1,
                value: description,
                listeners: {
                    scope: this,
                    change: function(cmp, newValue, oldValue){
                        changeCallback('Description', newValue, oldValue);
                    }
                }
            });
            var descriptionPanel = Ext4.create('Ext.container.Container', {
                border: false,
                frame: false,
                margin: '5 0 0 0',
                layout: 'hbox',
                items: [description]
            });
            var mainPanel = Ext4.create('Ext.form.Panel', {
                border: false,
                frame: false,
                renderTo: 'dashPanel',
                bodyStyle:'background-color: transparent;',
                items: [horizontalPanel, descriptionPanel]
            });
        }
    };

    LABKEY.requiresExt4ClientAPI(true, function(){
        LABKEY.ocexp.internal.Experiment.getExperiment({
            requiredVersion: 8.3,
            success: initPanel
        });
    });
</script>

