<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="moduleBean" class="org.labkey.api.module.SimpleModule">
        <property name="name" value="oconnor"/>
        <property name="version" value="1.07"/>
        <property name="requiredServerVersion" value="0.0"/>
        <property name="moduleDependencies" value=""/>
        <property name="svnRevision" value="32092"/>
        <property name="svnUrl" value="https://hedgehog.fhcrc.org/tor/stedi/trunk/server/customModules/OConnor"/>
        <property name="buildUser" value="jeckels"/>
        <property name="buildTime" value="April 21 2014, 6:29 PM"/>
        <property name="buildOS" value="Windows 7"/>
        <property name="buildPath" value="C:\labkey\server\..\build/modules/OConnor"/>
        <property name="sourcePath" value="C:\labkey\server\customModules\OConnor"/>
        <property name="supportedDatabases" value="pgsql"/>
        <property name="resourcePath" value=""/>
    </bean>
</beans>
