<html>
<script type="text/javascript" nonce="<%=scriptNonce%>">

function remove(){
	LABKEY.Portal.getWebParts({
        success: function(d){
            LABKEY.Portal.removeWebPart({
                updateDOM : true,
                webPartId : d.body[d.body.length-2].webPartId
            });
        }
	});
}

LABKEY.Utils.onReady(function(){
    document.getElementById('removeLastWebPart')['onclick'] = remove;
});
</script>
<FORM> 
<INPUT type="button" value="Remove Last WebPart" name="button6" id="removeLastWebPart">
</FORM>

</html>


